In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [18]:
a = np.array({'reviews':['a1','a2','a3','a4','a5','a6','a7','a8','a9'],'ratings':[1,1,1,0,0,1,1,0,0]})
b = np.array([1,1,1,0,0,1,1,0,0])
a = a.T
print(a.shape)

()

In [19]:
data = pd.DataFrame({'reviews':['a1','a2','a3','a4','a5','a6','a7','a8','a9'],'ratings':[1,1,1,0,0,1,1,0,0]})

In [37]:
X_train, X_test, y_train, y_test = train_test_split(data['reviews'],data['ratings'],test_size=0.4, random_state=42,stratify=data['ratings'])

In [38]:
X_train

0    a1
4    a5
6    a7
1    a2
8    a9
Name: reviews, dtype: object

In [39]:
y_train

0    1
4    0
6    1
1    1
8    0
Name: ratings, dtype: int64

In [51]:
a = data['ratings'][data['ratings'] == 0]
set1 = list(a.index)
set1

[3, 4, 7, 8]

In [40]:
X_test

2    a3
7    a8
3    a4
5    a6
Name: reviews, dtype: object

In [41]:
y_test

2    1
7    0
3    0
5    1
Name: ratings, dtype: int64

In [52]:
a = y_test[y_test == 0]
set2 = list(a.index)
set2

[7, 3]

In [27]:
type(X_train)

pandas.core.series.Series

In [30]:
y_train.idxmin()

4

In [53]:
set1

[3, 4, 7, 8]

In [54]:
set2

[7, 3]

In [55]:
set1 = set(set1)
set2 = set(set2)

In [56]:
set1

{3, 4, 7, 8}

In [57]:
set2

{3, 7}

In [66]:
s1 = set1.intersection(set2)

In [67]:
s1

{3, 7}

In [68]:
s1

{3, 7}

In [69]:
a = s1.pop()

In [70]:
a

3

In [71]:
b = s1.pop()

In [72]:
b

7

In [35]:
a = np.zeros((9,8))
pd.to_numeric(a, downcast='signed')

TypeError: arg must be a list, tuple, 1-d array, or Series

In [29]:
a

array([[0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0]])

In [30]:
d = pd.DataFrame(a)

In [31]:
d

   0  1  2  3  4  5  6  7
0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0

In [32]:
d.memory_usage(deep=True)

Index    80
0        72
1        72
2        72
3        72
4        72
5        72
6        72
7        72
dtype: int64